@charset "UTF-8";
@import "_reset.scss";

/* common -------------------------- */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    overflow: hidden;
}
body {
    font-family: "メイリオ", Meiryo, "游ゴシック", YuGothic, 'ＭＳ Ｐゴシック', sans-serif;
    color: #4a3c2f;
    -webkit-text-size-adjust: 100%;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
}

/* header -------------------------- */



/* contents -------------------------- */



/* footer -------------------------- */