@charset "UTF-8";
@import "_reset.scss";

/* common -------------------------- */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    overflow: hidden;
}
body {
    font-family: "メイリオ", Meiryo, "游ゴシック", YuGothic, 'ＭＳ Ｐゴシック', sans-serif;
    color: #4a3c2f;
    -webkit-text-size-adjust: 100%;
    background-color: #ffffe5;
}
strong{
    font-weight: bold;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
    font-size: 88%;
    color: #222;
    line-height: 1.51;
}
.shadow{
    box-shadow: 0 10px 13px -10px rgba(0,0,0,0.4);
}

/* header -------------------------- */
#nav{
    padding: 15px 0;

    h1 {
        font-size: 140%;
        font-weight: bold;
        img{
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    ul {
        float: right;
        margin-top: -32px;
        li{
            float: left;
            padding-left: 20px;
            a{
                display: block;
                text-decoration: none;
                color: #000000;
                font-size: 130%;
                &:hover{
                    color:#cc0000;
                    text-decoration: underline;
                }
            }
        }
    }
}

/* topImage -------------------------- */
#topImage {
    height: 400px;
    width: 960px;
    background-color: #fff;
    background-image: url("../images/topimage01.jpg");
/*    display: table-cell;
    vertical-align: middle;*/

    h2{
        font-size: 200%;
        padding-left: 400px;
        padding-top: 120px;
        strong{
            font-size: 120%;
            color: #009999;
        }
    }
}




/* contents -------------------------- */

/* profile -------------------------- */
#profile{
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;

    h2{
        font-size: 120%;
        font-weight: bold;
        margin-bottom: 10px;
    }

    dt{
        float: left;
        clear: left;
        margin-bottom: 10px;
        width: 120px;
        color: #888;
    }
    dd{
        float: left;
        width: 470px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .leftArea{
        float: left;
        width: 600px;
    }

    .rightArea{
        float: right;
        width: 299px;
        border-left: 1px dotted #666;
        padding-left: 15px;
        margin-left: 15px;
        
        dd{
            width:auto;
        }
    }
}


/* works -------------------------- */
#works{
    // padding: 15px;
    overflow: hidden;
    margin-right: -30px;


    h2{
        // text-align: center;
        font-size: 120%;
        font-weight: bold;
        margin: 15px 0;
    }

    .flexList{
        display:flex;
        flex-wrap:wrap;
    }

    .item{
        background-color: #fff;
        width: 300px;
        float: left;
        margin-bottom: 30px;
        margin-right: 30px;
        a{
            text-decoration: none;
            color: #000000;
            &:hover{
                color:#cc0000;
                text-decoration: underline;
            }
        }
        .text{
            padding: 5px 15px;
        }
        .spec{
            text-align: right;
        }
    }
}


/* footer -------------------------- */
#footer{
    background-color: #555;
    margin-top: 15px;
    padding: 10px 15px;
    text-align: center;
    color: #ddd;
}





