@charset "UTF-8";
/* reset -------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* common -------------------------- */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  overflow: hidden;
}

body {
  font-family: "メイリオ", Meiryo, "游ゴシック", YuGothic, 'ＭＳ Ｐゴシック', sans-serif;
  color: #4a3c2f;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffe5;
}

strong {
  font-weight: bold;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  font-size: 88%;
  color: #222;
  line-height: 1.51;
}

.shadow {
  box-shadow: 0 10px 13px -10px rgba(0, 0, 0, 0.4);
}

/* header -------------------------- */
#nav {
  padding: 15px 0;
}

#nav h1 {
  font-size: 140%;
  font-weight: bold;
}

#nav h1 img {
  vertical-align: middle;
  margin-right: 10px;
}

#nav ul {
  float: right;
  margin-top: -32px;
}

#nav ul li {
  float: left;
  padding-left: 20px;
}

#nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 130%;
}

#nav ul li a:hover {
  color: #cc0000;
  text-decoration: underline;
}

/* topImage -------------------------- */
#topImage {
  height: 400px;
  width: 960px;
  background-color: #fff;
  background-image: url("../images/topimage01.jpg");
  /*    display: table-cell;
    vertical-align: middle;*/
}

#topImage h2 {
  font-size: 200%;
  padding-left: 400px;
  padding-top: 120px;
}

#topImage h2 strong {
  font-size: 120%;
  color: #009999;
}

/* contents -------------------------- */
/* profile -------------------------- */
#profile {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
}

#profile h2 {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 10px;
}

#profile dt {
  float: left;
  clear: left;
  margin-bottom: 10px;
  width: 120px;
  color: #888;
}

#profile dd {
  float: left;
  width: 470px;
  padding-left: 10px;
  margin-bottom: 10px;
}

#profile .leftArea {
  float: left;
  width: 600px;
}

#profile .rightArea {
  float: right;
  width: 299px;
  border-left: 1px dotted #666;
  padding-left: 15px;
  margin-left: 15px;
}

#profile .rightArea dd {
  width: auto;
}

/* works -------------------------- */
#works {
  overflow: hidden;
  margin-right: -30px;
}

#works h2 {
  font-size: 120%;
  font-weight: bold;
  margin: 15px 0;
}

#works .flexList {
  display: flex;
  flex-wrap: wrap;
}

#works .item {
  background-color: #fff;
  width: 300px;
  float: left;
  margin-bottom: 30px;
  margin-right: 30px;
}

#works .item a {
  text-decoration: none;
  color: #000000;
}

#works .item a:hover {
  color: #cc0000;
  text-decoration: underline;
}

#works .item .text {
  padding: 5px 15px;
}

#works .item .spec {
  text-align: right;
}

/* footer -------------------------- */
#footer {
  background-color: #555;
  margin-top: 15px;
  padding: 10px 15px;
  text-align: center;
  color: #ddd;
}
